<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "1.0.0">

    <name>TADL BETA</name>

    <description>
        Hello World sample application that responds to the deviceready event.
    </description>


    
    <access origin="http://127.0.0.1*"/> 
    <access origin="http://ilscatcher.herokuapp.com"/>

</widget>
